*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(132, 130, 132);
}
header{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color:rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;

}

.contenitore {
    display: flex;
    align-items: center;
}
.bottone {
    padding: 5px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
.contenitore-bottoni{
    margin-bottom: 2%;
}
.azul{
    background-color: rgb(71, 173, 241);
    color: aliceblue;
}

.bianco{
    background-color: aliceblue;
    color: gray;
    border: 20px solid gray;
}

.lista-senza-punti{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}
.check-verdi{
  display: inline-block; 
  width: 20px; 
  height: 20px; 
  background-color:white;
  border-radius: 50%; 
  text-align: center; 
  font-size: 16px; 
  color:green;
  margin-right: 10px; 
  border: 2px solid green;
}

.cross-rossi{
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    background-color:white;
    border-radius: 50%; 
    text-align: center; 
    font-size: 16px; 
    color:red;
    margin-right: 10px; 
    border: 2px solid red;

}
